*.swp
*.pyc
*.bak
*.tar
scripts
cfgs
checkpoints
__pycache__
log*.txt
.ignore
mimic_experiments/
backup/
exp_branch/
exp_modelscaling/
result_info/
result_info_context/
exp_*
failed_to_read_*
.idea/
parse_result*
bak*

itchat.pkl
server.txt

caffemodels/
feats/
nart_tools/
